<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mcqbank">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".content.SubjectActivity"/>
        <activity android:name=".starting.LogInActivity" />
        <activity
            android:name=".starting.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".starting.WelcomeActivity"
            android:label="Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".navigation.Notifications"
            android:label="Notifications" />
        <activity
            android:name=".navigation.Feedback"
            android:label="Feedback"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".starting.ForgetPassword"
            android:label="Forget password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".starting.SignUpActivity"
            android:label="Sign up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".navigation.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".navigation.LeaderBoard"
            android:label="@string/title_activity_leader_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".content.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>